src/main/mule/hello-world-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2cbfcf7-45f9-449b-8934-619daed73f35" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-world-apiFlow" doc:id="70df5307-5f91-4a2f-9aed-3bb5a1067ef2" >
		<http:listener doc:name="Listener" doc:id="88e5cb01-52a6-4363-b1fe-d273bb8d8303" config-ref="HTTP_Listener_config" path="/helloworld"/>
		<set-payload value='#[%dw 2.0
output application/json
---
{
	"Status" : "Success",
	"Message" : "Hello Welcome to first CI/CD"
}]' doc:name="Set Payload" doc:id="ff7faaef-06e2-4a34-b414-ff3189a0c975" />
	</flow>
</mule>
